article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 1em; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { background-color: #fff; text-align: justify; margin: 0; line-height: 1.5em; }
body, button, input, select, textarea { font-family: 'Raleway', sans-serif; color: #222; }
::-moz-selection { background: #d33682; color: #fff; text-shadow: none; }
::selection { background: #d33682; color: #fff; text-shadow: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Custom */

#container {
    width: 45em;
    margin: 3em auto 2em auto;
}

header {
    margin-bottom: 4%;
    font-size: 1.2em;
    clear: both;
}

h1 {
    font-size: 140%;
    font-weight: bold;
    text-align: left;
}

h2, h3, h4 {
    font-size: 110%;
}

h2.title {
    margin-top: 5%;
    margin-bottom: 1%;
}

h3 {
    margin-top: 25px;
}

a {
    color: #d33682;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a.title {
    font-weight: bold;
}

a.extra {
    color: #93a1a1;
    float: right;
    margin-left: 1.3em;
}

.post-meta {
    margin-top: 0;
    color: #93a1a1;
    text-align: left;
}

.post-audio {
    margin: 1em 0 1em 0;
}

.post-shortcuts {
    border-bottom: 1px solid #93a1a1;
}

.posts,
.projects,
.talks {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.posts li time {
    color: #93a1a1;
}

.talks .at {
    color: #93a1a1;
}

.posts-by-year {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.post-title {
    margin-bottom: 0;
}

.highlight, pre {
    color: #fff;
    font-size: 90%;
    line-height: 1.3em;
    background-color: #000;
    overflow-x: scroll;
}

pre {
    margin: 0;
    padding: 1%;
}

blockquote {
    border-left: 5px solid #d33682;
    padding:0 0 0 10px;
    margin:0.5em auto;
    font-style: italic;
    width: 80%;
}

blockquote em {
    color: #93a1a1;
}

.projects li.last {
    margin-top: 1%;
    font-style: italic;
}

img {
    width: inherit;
    max-width: 45em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 4%;
    font-size: 90%;
}

footer .icon {
    padding-left: 22px;
}

footer .github {
    background: transparent url(../images/github.png) no-repeat;
}

footer .linkedin {
    background: transparent url(../images/linkedin.png) no-repeat;
}

footer .twitter {
    background: transparent url(../images/twitter.png) no-repeat;
}

footer div {
    float: left;
}

footer div.presentation {
    width: 15em;
    margin-left: 5%;
    text-align: justify;
}

a.anchor-link {
    color: #EEE;
    padding: 0 0 0 4px;
    text-decoration: none;
    font-size: 70%;
}

a.anchor-link:hover {
    color: #666;
}

em.fork-and-edit {
    margin-top: 5%;
    display: block;
}

.source {
    text-align: center;
    font-style: italic;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.comments {
    margin-top: 5%;
}

@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
    filter: alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

.christmas {
    padding: 15px;
    margin-top: 5%;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
}

.money {
    text-align: right;
}

.aligned-images {
    display:inline-block;
    white-space:nowrap;
    margin: 0;
}

.aligned-images img {
    width: 50%;
    display: inherit;
    margin-right: -4px;
}

.aligned-images img:first-child {
    border-right: 1px solid #fff;
}

.aligned-images img:last-child {
    border-left: 1px solid #fff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
