ul.posts li {
    display: block;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 10px 0 10px 0;
    background-color: #D33682;
}

ul.posts li,
ul.posts li a,
ul.posts li span {
    color: white;
}
