---
---

$small-font-size: 0.9em;
$default-padding: 1em;

@font-face {
  font-display: block;
  font-family: Inter;
  font-weight: 300 600;
  src: url("/fonts/Inter-roman-minimal-subset-en-US.var.woff2?v=20250303") format("woff2");
  unicode-range: U+20-7E, U+A0, U+A1, U+A3, U+A7, U+A9, U+AB, U+AE, U+B0-B5,
    U+BB, U+BF-C4, U+C6-CF, U+D1-D7, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F7, U+F9-FD,
    U+FF, U+104-107, U+10D, U+118, U+119, U+11B, U+141-144, U+152, U+153,
    U+159-15B, U+161, U+178-17C, U+17E, U+401, U+410-44F, U+451, U+2010-2015,
    U+2018-201A, U+201C-201E, U+2024, U+2026, U+202F, U+2032, U+2033, U+2080,
    U+20AC, U+2122, U+2192, U+2605, U+2665;
}

:root {
  font-family: Inter, -system-ui, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  font-style: normal;
  font-weight: 400;

  --pre-background-color: #f9f9f9;
  --deprecation-notice-background-color: #ffebcd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 $default-padding;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

header {
  padding-bottom: $default-padding;

  h3 {
    margin-bottom: 0.5em;
  }
}

main {
  border-top: 1px solid currentColor;

  iframe {
    aspect-ratio: 16/9;
    width: 100%;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  blockquote {
    border-left: 8px solid currentColor;
    font-style: italic;
    padding-left: $default-padding;
  }

  code,
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }

  pre {
    background-color: var(--pre-background-color);
    overflow-x: auto;
    padding: $default-padding;
  }

  table {
    border-collapse: collapse;
    display: block;
    overflow: auto;
    width: 100%;

    tr {
      border-bottom: 1px solid currentColor;
    }

    th,
    td {
      text-align: left;
      padding: 4px;
    }
  }

  & > ul {
    list-style-type: none;
    padding-left: 0;
  }

  .post {
    .deprecation-notice {
      background-color: var(--deprecation-notice-background-color);
      padding: 0.5em;
    }

    .post-title {
      margin-bottom: 0;
    }

    .post-date {
      font-size: $small-font-size;
    }

    .post-updates {
      margin: 1em 0 2em 0;
      font-style: italic;

      p {
        margin: 0.5em 0;
      }
    }

    .with-caption {
      font-size: $small-font-size;
      text-align: center;

      em {
        display: block;
        margin: 0 auto;
        text-wrap: balance;
      }
    }

    .anchor-link {
      padding: 0 0 0 8px;
    }
  }

  .footnotes {
    border-top: 1px solid currentColor;
    font-size: $small-font-size;

    ol {
      p {
        margin: 0;
      }
    }
  }

  .fork-and-edit {
    margin-top: 2em;
  }
}

footer {
  border-top: 1px solid currentColor;
  margin-top: 2em;
  text-align: center;
  text-wrap: balance;

  .footer-links {
    font-size: $small-font-size;
  }

  .svg-icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }
}

@import 'syntax_light';

@media (prefers-color-scheme: dark) {
  :root {
    --pre-background-color: #111315;
    --deprecation-notice-background-color: #5a3100;
  }

  main {
    img {
      filter: brightness(.8) contrast(1.2);
    }

    .can-invert-image-in-dark-mode img {
      filter: invert(100%);
    }
  }

  @import 'syntax_dark';
}
