---
layout: default
my_projects:
    - { name: Geocoder, description: The almost missing Geocoder PHP library. }
    - { name: Karotz-Plugin, description: A Jenkins Plugin for your beloved Karotz. }
    - { name: EmailReplyParser, description: Port of the cool GitHub's EmailReplyParser library in PHP. }
---

<ul class="posts" itemscope itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
    {% if post.next %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% else %}
    {% if year != nyear %}
        </ul>
    </li>
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% endif %}
    {% endif %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
        <time datetime="{{ post.date | date_to_xmlschema }}">
            <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
            {{ post.date | date: '%d %b' }}
        </time>
        <span class="separator">&raquo;</span><a itemprop="name" href="{{ post.url }}" class="link">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2 class="title">Highlighted Projects</h2>

<ul class="projects">
    {% for project in page.my_projects %}
    <li>
        <a href="{{ site.my_github }}/{{ project.name }}">{{ project.name }}</a>
        <span class="description">&raquo; {{ project.description }}</span>
    </li>
    {% endfor %}
    <li class="last">Oh, and I am also involved in
        <a href="https://github.com/propelorm">Propel</a>,
        <a href="https://github.com/everzet/capifony">capifony</a>,
        <a href="{{ site.my_github }}">and so on</a>!
    </li>
</ul>
