---
layout: default
my_projects:
    - { name: EmailReplyParser, description: Port of GitHub's EmailReplyParser library in PHP. }
    - { name: Geocoder,         description: The almost missing Geocoder PHP library., url: "http://geocoder-php.org/" }
    - { name: Hateoas,          description: Set of tools to help build HATEOAS REST APIs. }
    - { name: Karotz-Plugin,    description: Jenkins Plugin for your beloved Karotz. }
    - { name: Negotiation,      description: Content Negotiation tools for PHP. }
    - { name: TravisLight,      description: Build monitoring tool (buildwall) for Travis-CI. }
my_talks:
    -
        title: "Domain-Driven Model Inference Applied To Web Applications"
        date: "2014-07-22"
        at: "SERP'14, Las Vegas, USA"
        slides_url: http://slides.williamdurand.fr/serp14/
        video_url:
        post_url:
    -
        title: "REST dans le monde Symfony"
        date: 2014-06-23"
        at: "PHP Tour Lyon 2014, France"
        slides_url: http://friendsofsymfony.github.io/slides/rest-dans-le-monde-symfony.html
        video_url: https://www.youtube.com/watch?v=nm1obAL1xoo
        post_url: /2014/07/16/video-rest-dans-le-monde-symfony/
    -
        title: "Build Awesome REST APIs With Symfony2"
        date: "2013-12-12"
        at: "SymfonyCon Warsaw 2013, Poland"
        slides_url: http://friendsofsymfony.github.io/slides/build-awesome-rest-apis-with-symfony2/
        video_url: https://www.youtube.com/watch?v=AcLHvOT5Ekg
        post_url:
    -
        title: "From STUPID to SOLID Code!"
        date: "2013-07-30"
        at: "Michelin, France"
        slides_url: http://slides.williamdurand.fr/from-stupid-to-solid-code/
        video_url:
        post_url: /2013/07/30/from-stupid-to-solid-code/
    -
        title: "Object Calisthenics"
        date: "2013-06-03"
        at: "Clermont'ech API Hour #2, France"
        slides_url: http://slides.williamdurand.fr/object-calisthenics/
        video_url: https://www.youtube.com/watch?v=ODK2gnzQ7u8
        post_url: /2013/06/03/object-calisthenics/
    -
        title: "Introduction to Propel2"
        date: "2012-06-08"
        at: "Symfony Live Paris 2012, France"
        slides_url: https://speakerdeck.com/willdurand/introduction-to-propel2
        video_url:
        post_url: /2012/06/08/introduction-to-propel2-at-symfony-live-2012/
---

<ul class="posts" itemscope itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
    {% if post.next %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% else %}
    {% if year != nyear %}
        </ul>
    </li>
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% endif %}
    {% endif %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="hide-on-mobile">
            <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
            {{ post.date | date: '%d %b' }}
        </time>
        <span class="separator hide-on-mobile"> &raquo; </span><a itemprop="name" href="{{ post.url }}" class="link">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2 class="title">Highlighted Projects</h2>

<ul class="projects">
    {% for project in page.my_projects %}
    <li>
        <a href="{% if project.url %}{{ project.url }}{% else %}{{ site.my_github }}/{{ project.name }}{% endif %}">{{ project.name }}</a>
        <span class="description hide-on-mobile">&raquo; {{ project.description }}</span>
    </li>
    {% endfor %}
    <li class="last hide-on-mobile">Oh, and I am also involved in
        <a href="https://github.com/propelorm">Propel</a>,
        <a href="https://github.com/everzet/capifony">capifony</a>,
        <a href="{{ site.my_github }}">and so on</a>!
    </li>
</ul>

<div class="hide-on-mobile">
    <h2 class="title">Talks</h2>

    <ul class="talks">
        {% for talk in page.my_talks %}
        <li>
            {{ talk.title }}
            - <em class="at">{{ talk.at }}</em>
            - [<a href="{{ talk.slides_url }}">slides</a>]{% if talk.video_url %} [<a href="{{ talk.video_url }}">video</a>]{% endif %}{% if talk.post_url %} [<a href="{{ talk.post_url }}">post</a>]{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
