---
layout: default
title: "Home"

my_projects:
    - { name: Watson,           description: "A wonderful CLI to track your time!", url: "https://github.com/TailorDev/Watson" }
    - { name: EmailReplyParser, description: Port of GitHub's EmailReplyParser library in PHP. }
    - { name: Geocoder,         description: The most-featured PHP Geocoder library., url: "http://geocoder-php.org/" }
    - { name: Karotz-Plugin,    description: Jenkins Plugin for your beloved Karotz. }
    - { name: Negotiation,      description: Content Negotiation tools for PHP. }
    - { name: TravisLight,      description: Build monitoring tool (buildwall) for Travis-CI. }
---

<ul class="posts" itemscope itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
    {% if post.next %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% endif %}

    {% if forloop.first %}
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% else %}
    {% if year != nyear %}
        </ul>
    </li>
    <li>
        <h2 class="title">{{ post.date | date: '%Y' }}</h2>
        <ul class="posts-by-year {{ post.date | date: '%Y' }}">
    {% endif %}
    {% endif %}
    <li itemscope itemtype="http://schema.org/BlogPosting" class="post-title">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="hide-on-mobile">
            <meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" />
            {{ post.date | date: '%d %b' }}
        </time>
        <span class="separator hide-on-mobile"> &raquo; </span><a itemprop="headline" itemprop="name" href="{{ post.url }}" class="link">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2 class="title">Highlighted Projects</h2>

<ul class="projects">
    {% for project in page.my_projects %}
    <li>
        <a href="{% if project.url %}{{ project.url }}{% else %}{{ site.my_github }}/{{ project.name }}{% endif %}">{{ project.name }}</a>
        <span class="description hide-on-mobile">&raquo; {{ project.description }}</span>
    </li>
    {% endfor %}
    <li class="last hide-on-mobile">Oh, and I am also involved in
        <a href="https://github.com/propelorm">Propel</a>,
        <a href="https://github.com/everzet/capifony">capifony</a>,
        <a href="{{ site.my_github }}">and so on</a>!
    </li>
</ul>
