<p class="footer-links">
  <svg aria-hidden="true" class="svg-icon"><use xlink:href="#icon-github"></use></svg>
  <a href="https://www.github.com/{{ site.author.github }}">GitHub</a>
  //
  <svg aria-hidden="true" class="svg-icon"><use xlink:href="#icon-mastodon"></use></svg>
  <a rel="me" href="https://mamot.fr/@{{ site.author.mastodon }}">Mastodon</a>
  //
  <svg aria-hidden="true" class="svg-icon"><use xlink:href="#icon-email"></use></svg>
  <a href="mailto:will@drnd.me">will@drnd.me</a> 0xa509bcf1c1274f3b
  <br>
  <a href="/publications/">Publications</a>
  //
  <a href="/talks/">Talks</a>
  //
  <svg aria-hidden="true" class="svg-icon"><use xlink:href="#icon-atom"></use></svg>
  Atom feeds:
  [<a href="/atom.xml">All</a>]
  [<a href="/php.xml">PHP</a>]
  [<a href="/mozilla.xml">Mozilla</a>]
</p>
