---
---
<!DOCTYPE html>
<html dir="ltr" lang="en-us">
  <head>
    {% include head.html %}
    {% seo %}
  </head>

  <body>
    {% include svg-defs.html %}

    {% include sidebar.html %}

    <div class="menu-hint hide-on-mobile"></div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{% if page.tagline %}{{ page.tagline }}{% else %}{{ site.tagline }}{% endif %}</small>
          </h3>
        </div>
      </div>

      {{ content }}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Menu
        const $toggle = document.querySelector(".sidebar-toggle");
        const $sidebar = document.getElementById("sidebar");
        const $checkbox = document.getElementById("sidebar-checkbox");

        document.addEventListener(
          "click",
          (e) => {
            const { target } = e;

            if (
              !$checkbox.checked ||
              $sidebar.contains(target) ||
              target === $checkbox ||
              target === $toggle
            ) {
              return;
            }

            $checkbox.checked = false;
          },
          false
        );

        // Anchor links
        const selector = ".post h2, .post h3, .post h4, .post h5, .post h6";

        for (const $header of document.querySelectorAll(selector)) {
          if (!$header.id) {
            continue;
          }

          const $anchor = document.createElement("a");
          $anchor.className = "anchor-link";
          $anchor.href = "#" + $header.id;
          $anchor.innerHTML = "#";

          $header.appendChild($anchor);
        }
      });
    </script>
  </body>
</html>
