---
---
<!DOCTYPE html>
<html lang="en-us">

  <head>
    {% include head.html %}
    {% seo %}
  </head>

  <body>

    {% include sidebar.html %}

    <div class="menu-hint hide-on-mobile"></div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{% if page.tagline %}{{ page.tagline }}{% else %}{{ site.tagline }}{% endif %}</small>
          </h3>
        </div>
      </div>

      {{ content }}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.ui.totop.js" type="text/javascript"></script>
    <script src="/js/anchorify.js" type="text/javascript"></script>
    <script>
      $().UItoTop();
      $('.post h2, .post h3, .post h4, .post h5, .post h6').anchorify();

      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
