---
layout: main
---

<div class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign pageYear = page.date | date: "%Y" | minus: 2016 %}
  {% if pageYear < 0 %}
  <p class="deprecation-notice">
    ⚠️  This content has been written a long time ago. As such, it might not
    reflect my current thoughts anymore. I keep this page online because it
    might still contain valid information.
  </p>
  {% endif %}

  <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

  <span class="post-date">
    {% if page.date %}
    <time pubdate="pubdate" datetime="{{ page.date | date_to_xmlschema }}">
      <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
      {{ page.date | date_to_long_string }}
    </time>
    &mdash;
    {% endif %}{{ page.location }}
  </span>

  {% if page.tags.size > 0  %}
  <span class="post-tags">
    // {{ page.tags | join: ', ' }}
  </span>
  {% endif %}

  {% if page.tldr %}
  <div class="post-shortcuts">
    <p>Jump to: <a href="#tldr">TL;DR</a></p>
  </div>
  {% endif %}

  <div itemprop="articleBody">
    {% if page.updates %}
    <div class="post-updates">
      {% assign updates = page.updates|reverse %}
      {% for update in updates %}
      {{ update.date|append:' // '|append:update.content|markdownify }}
      {% endfor %}
    </div>
    {% endif %}

    {{ content }}
  </div>

  <div class="fork-and-edit">
    <p>
      ℹ️ Feel free to <a href="https://github.com/willdurand/willdurand.github.io/edit/main/_posts/{{ page.url | remove_first:'/' | replace_first:'/','-' | replace_first:'/','-' |replace_first:'/','-' | remove:'/' }}.md">fork and edit this post</a> if you find a typo, thank you so much! This post is licensed under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a> license.
    </p>
  </div>

  {% if page.mastodon_id %}
  <div class="post-social-stuff">
    <p>
      💟 Discuss on <a href="https://mamot.fr/@{{ site.author.mastodon }}/{{ page.mastodon_id }}">Mastodon</a>.
    </p>
  </div>
  {% endif %}
</div>

{% if page.credits %}
<section class="post-credits">
  <h2>Credits</h2>

  {{ page.credits|markdownify }}
</section>
{% endif %}

<section class="post-recent-posts">
  <h2>Recent articles</h2>

  <ul class="recent-posts" itemscope itemtype="https://schema.org/Blog">
    {% for post in site.related_posts limit:5 %}
      <li itemscope itemtype="https://schema.org/BlogPosting">
        <a href="{{ post.url }}" itemprop="name" itemprop="headline">{{ post.title }}</a>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          <small><meta itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</small>
        </time>
      </li>
    {% endfor %}
  </ul>
</section>
