---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post-title" itemprop="name">
        {{ page.title }}
    </h1>

    <div class="post-meta">
        {% if page.date %}
        <time pubdate="pubdate" datetime="{{ page.date | date_to_xmlschema }}">
            <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
            {{ page.date | date_to_long_string }} &mdash;
        </time>
        {% endif %}{{ page.location }}
    </div>

    {% if page.audio != false %}
    <div class="post-audio">
        <audio itemprop="audio" src="/mp3/{{ page.id | remove_first:'/' | replace:'/','-' }}.mp3" controls preload></audio>
    </div>
    {% endif %}

    {% if page.tldr %}
    <div class="post-shortcuts">
        <p>Jump to: <a href="#tl-dr">TL;DR</a></p>
    </div>
    {% endif %}

    <div class="post-body" itemprop="articleBody">
        {{ content }}
    </div>

    <em class="fork-and-edit">
        By the way, if you found a typo, please <a href="http://github.com/willdurand/willdurand.github.com/edit/master/_posts/{{ page.url | remove_first:'/' | replace_first:'/','-' | replace_first:'/','-' |replace_first:'/','-' | remove:'/' }}.markdown">fork and edit this post</a>. Thank you so much!
        <br />
        This post is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
    </em>

    <p class="christmas">
        If you like this blog post, or if you are using one of my <a href="https://github.com/willdurand">Open Source projects</a>,
        here is my <a href="http://www.amazon.fr/registry/wishlist/3ICJE3SIOIDWE">Christmas Wish List</a>. You can also support my work
        by <a href="https://www.gittip.com/willdurand">gittip-ing me</a>, or just by <a href="mailto:william.durand1@gmail.com">emailing me</a>.
    </p>
</article>

<section class="related-posts">
    <h2 class="title">Related Posts</h2>
    <ul class="posts" itemscope itemtype="http://schema.org/Blog">
        {% for related in site.posts %}
        {% if related.url != page.url and related.link == null and (void == null or void != '2') %}
        <li itemscope itemtype="http://schema.org/BlogPosting">
            <time datetime="{{ related.date | date_to_xmlschema }}">
                <meta itemprop="datePublished" content="{{ related.date | date_to_xmlschema }}" />
                {{ related.date | date: '%d %b' }}
            </time>
            <span class="separator"> &raquo; </span><a itemprop="name" href="{{ related.url }}" class="link">{{ related.title }}</a>
        </li>
        {% capture void %}{% increment related_shown %}{% endcapture %}
        {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="comments" id="disqus_thread"></section>
<script type="text/javascript">
    var disqus_shortname = 'williamdurand';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
